#para{
    color: rgb(200, 255, 0);
}
#bt{
    color:red ;
}
#sb{
    border: 24cap;
    size: 33cap;
    text-shadow: 22cap;
    text-align: left;
    size: 100cm;
    background-color: aqua;
    text-align: end;
}